<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app/public/frontend/css/personalProgram.css" />
        <title>Personal Program</title>
    </head>
    <body>
        <div class="white-space"></div>
        <ul class="list-view">
            <li class="list-view__item">
                <div class="left">
                    <p class="heading">A Stroll through History</p>
                    <p class="subheading">English Tour Guide</p>
                    <p class="date">July28 13:00-15:30</p>
                </div>
                <div class="right">
                    <div class="quantity">
                        <p class="heading">Family Ticket(s)</p>
                        <div class="counter"></div>
                        <p class="price">60,00</p>
                    </div>
                </div>
                <div class="remove">
                    <img src="/app/public/images/trash.png" alt="" />
                </div>
            </li>
        </ul>
    </body>
</html>
