<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app/public/frontend/css/yummy.css" />
        <title>Yummy</title>
    </head>
    <body>
        <div class="white-space"></div>
        <div class="intro">
            <div class="text">
                <h1>YUMMY!</h1>
                <p class="">27 July - 31 July</p>
                <h2>
                    Food Festival <br />
                    Haarlem <br />
                    Culinary 2024
                </h2>
                <p class="">
                    Are you coming to the culinary event in Haarlem? It will take place from July 27 to July 31, 2024 on the Grote Markt in Haarlem. Make sure you're there! Enjoy
                    various tastings and bands. Gather your company.
                </p>
                <a class="intro-button" href="">Check out Restaurants</a>
            </div>
            <div class="img-wrap">
                <img src="/app/public/images/yummy-intro.png" />
            </div>
        </div>
        <div class="restaurants-section">
            <div class="restaurant-top-line">
                <h2>Restaurants</h2>
                <div class="filter">
                    <p>Filter by</p>
                    <a id="active" href="">All restaurants</a>
                    <a href="">French</a>
                    <a href="">Dutch</a>
                    <a href="">European</a>
                    <a href="">International</a>
                </div>
            </div>
            <p class="description">Check out the awesome restaurants joining the fun below! Pick your favorites and get ready for a tasty adventure!</p>
            <div class="restaurants-list">
                <div class="restaurants-list-item">
                    <div class="image"></div>
                    <p>Restaurant Fris</p>
                    <div class="review"></div>
                    <span class="line"></span>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/food-type.png" alt="" />
                        <p>Food Type: Dutch, french, European</p>
                    </div>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/seats.png" alt="" />
                        <p>Available Seats: 45</p>
                    </div>
                    <span class="line"></span>
                    <div class="features-list">
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="restaurant-information">
                        <div class="info-item">
                            <img src="/app/public/images/location-marker.png" />
                            <p>Spaarne 96, 2011 CL Haarlem, Nederland</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/telephone.png" />
                            <p>0686556523</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/time.png" />
                            <p>17:00 - 23:00</p>
                        </div>
                    </div>
                </div>
                <div class="restaurants-list-item">
                    <div class="image"></div>
                    <p>Restaurant Fris</p>
                    <div class="review"></div>
                    <span class="line"></span>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/food-type.png" alt="" />
                        <p>Food Type: Dutch, french, European</p>
                    </div>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/seats.png" alt="" />
                        <p>Available Seats: 45</p>
                    </div>
                    <span class="line"></span>
                    <div class="features-list">
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="restaurant-information">
                        <div class="info-item">
                            <img src="/app/public/images/location-marker.png" />
                            <p>Spaarne 96, 2011 CL Haarlem, Nederland</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/telephone.png" />
                            <p>0686556523</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/time.png" />
                            <p>17:00 - 23:00</p>
                        </div>
                    </div>
                </div>
                <div class="restaurants-list-item">
                    <div class="image"></div>
                    <p>Restaurant Fris</p>
                    <div class="review"></div>
                    <span class="line"></span>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/food-type.png" alt="" />
                        <p>Food Type: Dutch, french, European</p>
                    </div>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/seats.png" alt="" />
                        <p>Available Seats: 45</p>
                    </div>
                    <span class="line"></span>
                    <div class="features-list">
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="restaurant-information">
                        <div class="info-item">
                            <img src="/app/public/images/location-marker.png" />
                            <p>Spaarne 96, 2011 CL Haarlem, Nederland</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/telephone.png" />
                            <p>0686556523</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/time.png" />
                            <p>17:00 - 23:00</p>
                        </div>
                    </div>
                </div>
                <div class="restaurants-list-item">
                    <div class="image"></div>
                    <p>Restaurant Fris</p>
                    <div class="review"></div>
                    <span class="line"></span>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/food-type.png" alt="" />
                        <p>Food Type: Dutch, french, European</p>
                    </div>
                    <div class="restaurant-feature">
                        <img src="/app/public/images/seats.png" alt="" />
                        <p>Available Seats: 45</p>
                    </div>
                    <span class="line"></span>
                    <div class="features-list">
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                        <div class="feature">
                            <img src="/app/public/images/halal.png" />
                            <p>Halal</p>
                        </div>
                    </div>
                    <span class="line"></span>
                    <div class="restaurant-information">
                        <div class="info-item">
                            <img src="/app/public/images/location-marker.png" />
                            <p>Spaarne 96, 2011 CL Haarlem, Nederland</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/telephone.png" />
                            <p>0686556523</p>
                        </div>
                        <div class="info-item">
                            <img src="/app/public/images/time.png" />
                            <p>17:00 - 23:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
