# images
/app/public/backend/img/
/app/public/frontend/img/
/app/public/music/
/app/config/
/app/public/assets/images/
/app/public/images/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
/.idea/
/.idea/*
.DS_Store

# vscode files
.vscode/