<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app/public/frontend/css/history.css" />
        <title>History</title>
    </head>
    <body>
        <div class="white-space"></div>
        <header class="masthead" style="background-image: url('/app/public/images/history-main.png')">
            <h1>A Stroll Through History</h1>
        </header>
        <main>
            <section id="introduction">
                <p>
                    Embark on a fascinating 2.5-hour guided journey through the charming city of Haarlem! Explore its historic streets and uncover tales from the Middle Ages to its
                    vibrant present. Our friendly guides make history fun and engaging for everyone, whether you love stories from the past or just want a cool day out. Join us as
                    we discover the awesome secrets of Haarlem together!
                </p>
            </section>
            <h2>Locations</h2>
            <section></section>
            <h2>Tour Information</h2>
            <section class="tour-info">
                <div class="prices">
                    <p>REGULAR PARTICIPANT</br>€ 17,50</p>
                    <p>FAMILY TICKET</br>€ 60,00</p>
                </div>
                <div class="details">
                    <p>The tour will take approx. 2.5 hours + a 15-minute break with refreshments. </p>
                    <p>Reservations for all tours are required.</p>
                    <p>All tours start near the ‘Church of St.Bavo’. </p>
                    <p>Participants must be a minimum of 12 years old and no strollers are allowed.</p>
                    <p>Groups will consist of 12 participants + 1 guide.</p>
                    <p>After the tour you will have the option for an online event with additional information.</p>
                </div>
            </section>
            <h2>Tour Route</h2>
            <section class="tour-route">
                <div class="destinations">
                    <ol type="A">
                        <li>St. Bavo Church</li>
                        <li>Grote Markt</li>
                        <li>De Hallen</li>
                        <li>Proveniershof</li>
                        <li>Jopenkerk</li>
                        <li>Waasle Kerk</li>
                        <li>De Adriaan</li>
                        <li>Amsterdamse Poort</li>
                        <li>Hof van Bakenes</li>
                    </ol>
                </div>
                <div class="img-wrapper">
                    <img src="/app/public/images/route.png">
                </div>
            </section>
            <h2>Available Timeslots</h2>
            <section class="time-slots">
                <div class="calendar">
                    <div class="calendar-item">
                        <div class="day">
                            <p class="date">July 26</p>
                            <p class="day-name">Wednesday</p>
                        </div>
                        <div class="hour">
                            <p class="time">10:00 - 12:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">13:00 - 15:30</p>
                            <div class="languages">
                                <div class="english language hidden">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">16:00 - 18:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-item">
                        <div class="day">
                            <p class="date">July 27</p>
                            <p class="day-name">Thursday</p>
                        </div>
                        <div class="hour">
                            <p class="time">10:00 - 12:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">13:00 - 15:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">16:00 - 18:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-item">
                        <div class="day">
                            <p class="date">July 27</p>
                            <p class="day-name">Thursday</p>
                        </div>
                        <div class="hour">
                            <p class="time">10:00 - 12:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">13:00 - 15:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">16:00 - 18:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-item">
                        <div class="day">
                            <p class="date">July 27</p>
                            <p class="day-name">Thursday</p>
                        </div>
                        <div class="hour">
                            <p class="time">10:00 - 12:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">13:00 - 15:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                        <div class="hour">
                            <p class="time">16:00 - 18:30</p>
                            <div class="languages">
                                <div class="english language">
                                    <img src="/app/public/images/flag-english.png">
                                </div>
                                <div class="dutch language">
                                    <img src="/app/public/images/flag-dutch.png">
                                </div>
                                <div class="chinese language">
                                    <img src="/app/public/images/flag-chinese.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="book-button" href="#">Book a Ticket</a>
            </section>
        </main>
    </body>
</html>
