<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app/public/frontend/css/history-detail.css" />
        <title>History</title>
    </head>
    <body>
        <div class="white-space"></div>
        <header class="masthead" style="background-image: url('/app/public/images/history-detail.png')">
            <h1>Molen De Adriaan</h1>
        </header>
        <main>
            <section id="introduction">
                <p>
                    Welcome to Stop G, an exciting stop on our tour. This Dutch landmark is like a living postcard, showcasing the incredible history of the Netherlands. When you
                    think of the Netherlands, what pops into your mind? That's right – windmills! These towering giants are not just for grown-ups; they're a magnet for young
                    adventurers too, sparking imaginations with tales of the Netherlands' awesome past! So, let's dive into the magic of Spot G together!
                </p>
            </section>
            <section>
                <div class="container container-img-right">
                    <div class="img-wrapper">
                        <img src="/app/public/images/adriaan-2.png" />
                    </div>
                    <div class="text-content">
                        <h2>History of De Adriaan</h2>
                        <p>
                            Unveil the history of Windmill De Adriaan, constructed in the 18th century on the foundations of the Goevrouwetoren. Initially serving as a pivotal
                            defensework, it evolved into a multi-purpose facility under Adriaan de Booys, producing cement, paint, and tanbark. The windmill faced challenges,
                            changing ownership and transforming into a tobacco mill before succumbing to a tragic fire in 1932. Yet, the resilient community rallied, contributing
                            funds for its restoration. In 2002, Windmill De Adriaan, rebuilt on its original foundations, symbolized Haarlem's spirit of unity and determination.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container container-img-left">
                    <div class="img-wrapper">
                        <img src="/app/public/images/adriaan-1.png" />
                    </div>
                    <div class="text-content">
                        <h2>De Adriaan Today</h2>
                        <p>
                            Today, Windmill De Adriaan, stands tall on Scheepmakersdijk. Restored in 2002, exactly 70 years after the devastating fire, the mill embodies Haarlem's
                            resilience. Owned by Stichting Molen De Adriaan, the windmill invites visitors to explore its reconstructed form, bearing witness to a history that
                            includes both adversity and triumphant restoration efforts. A symbol of community strength, Windmill De Adriaan continues to tell the story of Haarlem's
                            enduring spirit.
                        </p>
                    </div>
                </div>
            </section>
            <section class="contact-section">
                <div class="contact">
                    <h2>Conctact and Location</h2>
                    <div class="location">
                        <img src="/app/public/images/location-marker.png" />
                        <p>Papentorenvest 1A, 2011 AV Haarlem</p>
                    </div>
                    <div class="phone">
                        <img src="/app/public/images/telephone.png" />
                        <p>0645738920371</p>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="/app/public/images/map-history-detail.png" />
                </div>
            </section>
        </main>
    </body>
</html>
