<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app/public/frontend/css/history.css" />
        <title>History</title>
    </head>
    <body>
        <div class="white-space"></div>
        <header class="masthead" style="background-image: url('/app/public/images/history-main.png')">
            <h1>A Stroll Through History</h1>
        </header>
        <main>
            <section></section>
            <section></section>
        </main>
    </body>
</html>
