@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #240B43;
    background-attachment: fixed;
    min-height: 100%;
}


#section-dance {
    position: relative;
}

.dance-image img {
    width: 100%;
    display: block;
}

.dance-image h1 {
    position: absolute;
    bottom: -2vw;
    left: 0.2em;
    font-family: "Jomhuria", serif;
    color: white;
    font-size: 10vw;
}

.artist-list {

    font-size: 4vw;
    /*position: absolute;*/
    color: white;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
}

.section-2{
    width: 100%;
}


.artists-background {
    position: absolute;
    width: 100%;
    height: 520px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 25.52%, #016F96 41.67%, #016F96 66.84%, rgba(217, 217, 217, 0) 91.32%);
}

.artists-container {
    width: 390px;
    height: 434px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.artist {
    margin-bottom: 20px;
}

.artist-image {
    width: 390px;
    height: 390px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.artist-image img {
    border-radius: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.artist-name {
    color: white;
    font-size: 18px;
}
.section-3 {
    padding: 20px; /* Add padding for spacing */
    width: 100%;
}

.venues-container {
    display: flex;
    justify-content: space-evenly;
}

.venues {
    flex: 1;
    text-align: center;
}

.venue-image img {
    max-width: 100%;
}

.venue-name {
    color: white;
    font-size: 18px;
}
