@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8b8c93;
    background-attachment: fixed;
    font-family: "Caladea", serif;
    min-height: 100vh;
    padding: 1vw;
}

.white-space {
    height: 10vw;
    max-height: 3em;
    font-size: 2vw;
}

.list-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-view__item {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    background-color: #007589;
    color: white;
    border: solid 0.2vw #ff786a;
    border-radius: 0.5vw;
    padding: 1vw;
}

.heading {
    font-size: 3vw;
}
.subheading {
    font-size: 1.5vw;
}

.right .quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price {
    font-size: 2vw;
}

.date {
    margin-top: 1em;
    font-size: 2vw;
    letter-spacing: 0.1em;
}

.remove {
    width: 2vw;
    aspect-ratio: 1 / 1;
}

.remove img {
    width: 100%;
    object-fit: contain;
}
